<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284588311525-ah797j96982kb6090denk7gal9k8oh79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284588311525-ah797j96982kb6090denk7gal9k8oh79</string>
	<key>API_KEY</key>
	<string>AIzaSyA5179VfVDsHOaBhaBTI957WA3yoG9nL2w</string>
	<key>GCM_SENDER_ID</key>
	<string>284588311525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tigerfax.app</string>
	<key>PROJECT_ID</key>
	<string>tigerfax-e3915</string>
	<key>STORAGE_BUCKET</key>
	<string>tigerfax-e3915.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284588311525:ios:e513649858a4d3f42d250c</string>
</dict>
</plist>